<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
    <title>SLV FOOD JOINT</title>
    <link rel="icon" href="/images/fr.jpg">
  </head>
  <body>
    <nav class="navbar navbar-expand-md bg navbar-dark fixed-top"> 
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#collapse_Navbar"> 
            <span class="navbar-toggler-icon"></span> 
        </button> 
          
        <a href="/home">
            <img src="/images/fr.jpg" class="logo">
        </a>
        <div class="collapse navbar-collapse" id="collapse_Navbar"> 
            <ul class="navbar-nav ml-auto">

                <li class="nav-item"> 
                    <a class="nav-link" href="/home" style="color: red; font-size: 20px; font-family: fantasy;">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/about" style="color: red; font-size: 20px; font-family: fantasy;">AboutUs!</a>
                </li>

                <li class="nav-item"> 
                    <a class="nav-link" href="/students" style="color: red; font-size: 20px; font-family: fantasy;">CUSTOMERS</a>
                </li> 
              
                <li class="nav-item dropdown"> 
                    <a class="nav-link dropdown-toggle" href="/courses" id="navbardrop" data-toggle="dropdown"  style="color: red; font-size: 20px; font-family: fantasy;">options</a> 
                      
                    <div class="dropdown-menu"> 
                        <a class="dropdown-item" href="/northindian">NORTH INDIAN</a> 
                        <a class="dropdown-item" href="/chinese">CHINESE</a> 
                        <a class="dropdown-item" href="/southindian">SOUTH INDIAN</a> 
                    </div> 
                </li>
              
                <li class="nav-item">
                    <a class="nav-link" href="/gallery" style="color: red; font-size: 20px; font-family: fantasy;">Gallery</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/register" style="color: red; font-size: 20px; font-family: fantasy;">Register</a>
                </li>
            </ul>
        </div> 
    </nav>

    <div id="GFG" class="carousel slide" data-ride="carousel"> 
      
    <!-- Indicators -->
    <ul class="carousel-indicators"> 
        <li data-target="#GFG" data-slide-to="0" class="active"></li> 
        <li data-target="#GFG" data-slide-to="1"></li> 
        <li data-target="#GFG" data-slide-to="2"></li>
        <li data-target="#GFG" data-slide-to="3"></li>  
    </ul> 
      
    <!-- The slideshow -->
    <div class="carousel-inner"> 
        <div class="carousel-item active"> 
            <img src="/images/a1.jpg" alt="GFG" width="100%" height="400">    
        </div> 
          
        <div class="carousel-item"> 
            <img src= "/images/a2.jpg" alt="GFG" width="100%" height="400"> 
        </div> 
          
        <div class="carousel-item"> 
            <img src= "/images/a3.jpg" alt="GFG" width="100%" height="400"> 
        </div>

        <div class="carousel-item"> 
            <img src= "/images/a4.jpg" alt="GFG" width="100%" height="400">   
        </div>

        <div class="carousel-item"> 
            <img src= "/images/a5.jpg" alt="GFG" width="100%" height="400"> 
        </div> 
    </div> 
    </div>

    <div class="container">
        <h1>SLV FOOD JOINT</h1>
         <p> No 213, CMR Road, 3rd Block, 4th Cross, HRBR Layout, Kalyan Nagar, HRBR Layout, Bangalore - 560043, Adjacent to Silverline Diagnostics (Map)Restaurants , Pure Veg Restaurants ...moreInexpensive (Below  500)</p>
         <h2>SOUTH INDIAN FOOD</h2>
       <p> The similarities among the five states' cuisines include the presence of rice as a staple food, the use of lentils and spices, dried red chilies and fresh green chilies, coconut, and native fruits and vegetables including tamarind, plantain, snake gourd, garlic, and ginger.</p>
        <h2>NORTH INDIAN FOOD</h2>
        <p>Northern Indian food is mainly characterized for its spices, frequent use of dairy products, the tandoor oven, tawa griddle and wheat-based staples. Commonly used dairy products are yogurt, milk, ghee (clarified butter) and paneer (soft cheese that resembles tofu).</p>
        <h2>CHINESE</h2>
         <p>The name of the dish is Cantonese for “assorted pieces” and is believed to have its roots in the Taishan province of Guangdong, the ancestral home of many these early immigrants. In fact, much of the West's “Chinese food” is loosely based on Cantonese cuisine, one of dozens of authentic Chinese cooking styles.</p>
        <h2>ABOUT US</h2>
        <p>A restaurant , or an eatery, is a business that prepares and serves food and drinks to customers.[1] Meals are generally served and eaten on the premises, but many restaurants also offer take-out and food delivery services. Restaurants vary greatly in appearance and offerings, including a wide variety of cuisines and service models ranging from inexpensive fast food restaurants and cafeterias, to mid-priced family restaurants, to high-priced luxury establishments.
 </div>
In Western countries, most mid-to high-range restaurants serve alcoholic beverages such as beer and wine. Some restaurants serve all the major meals, such as breakfast, lunch, and dinner (e.g., major fast food chains, diners, hotel restaurants, and airport restaurants). Other restaurants may serve only a single meal (for example, a pancake house may only serve breakfast) or they may serve two meals (e.g., lunch and dinner).</p>
    <!-- Optional JavaScript -->
    <script type="text/javascript" src="script.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>